<div class="bucket-list">
  <div class="title">Bucket List:</div>
  <div class="all-activities">
    <% @user_activities.each do |activity| %>
      <div class="activity">
        <p class="activity-name"><%= link_to activity.name, activity_path(activity) %></p>
        <p class="activity-description"><%= activity.description.capitalize %></p>
      </div>
    <% end %>
  </div>
  <% if current_user.id == @user.id %>
    <button id="add_activity">Add item</button>

    <%= form_for @activity, url: activities_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit %>
    <% end %>
  <% end %>
</div>


<div id='messagesDiv'>
  <div class="chat">Chat <div class="expand">-</div></div>
  <div class="chat-input-fields">
    <input type='text' id='nameInput' value='<%= current_user.name %>'>
    <input type='text' id='messageInput' placeholder='Message'>
  </div>

  <script>
    // We want to customize the reference url for each activity to enable group chat
    var myFirebaseRef = new Firebase("https://dbc-bucket-buddies.firebaseio.com/user/<%= @user.id %>");
    $('#messageInput').keypress(function (e) {
      if (e.keyCode == 13) {
        var name = $('#nameInput').val();
        var text = $('#messageInput').val();
        myFirebaseRef.push({name: name, text: text});
        $('#messageInput').val('');
      }
    });
    myFirebaseRef.on('child_added', function(snapshot) {
      var message = snapshot.val();
      displayChatMessage(message.name, message.text);
    });
    function displayChatMessage(name, text) {
      $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
      $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
    };
  </script>
</div>
