<!DOCTYPE html>
<html>
<head>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <title>BucketBuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500|Monofett|Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="main-container">
    <%= render "partials/header" %>

    <%= yield %>
    <%= render "partials/footer" %>
  </div>
</body>
</html>
