<!DOCTYPE html>
<html>
<head>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <title>BucketBuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= image_tag current_user.gravatar_url %>
<% end %>

<%= yield %>

</body>
</html>
